@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <br />
    <h1 class="display-4">Welcome to our Ticket Office Shop</h1>
    <br />

    <p>Learn about our ticket office shop.</p>
</div>
